.QuoteForm{
    margin: 50px 100px;
    background: cornflowerblue;
}
.FormBox{
    padding: 20px;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.Category{
    width: 150px;
    text-align: center;
    height: 29px;
    margin-right: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    border-color: lightskyblue;
}
.Author{
    width: 200px;
    text-align: center;
    height: 29px;
    margin-right: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    border-color: lightskyblue;
}
.Quote-text{
    width: 200px;
    height: 50px;
    text-align: center;
    margin-right: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    border-color: lightskyblue;
}
.Save{
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
    width: 120px;
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    background: lightskyblue;
    font-size: 16px;
    color: cornsilk;
    height: 30px;
    font-weight: bolder;
    margin: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}